name: CI/CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Build with Maven
        run: mvn clean package

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build & Push Docker image
        run: |
          docker build -t ${{ secrets.DOCKER_USERNAME }}/hello-world-app:${{ github.sha }} .
          docker build -t ${{ secrets.DOCKER_USERNAME }}/hello-world-app:latest .
          docker push ${{ secrets.DOCKER_USERNAME }}/hello-world-app:${{ github.sha }}
          docker push ${{ secrets.DOCKER_USERNAME }}/hello-world-app:latest

      - name: Deploy on EC2
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            cd /home/ec2-user/app
            docker stop $(docker ps -q) || true
            docker rm $(docker ps -aq) || true
            docker rmi $(docker images -q) || true
            docker build -t hello-world-app .
            docker run -d --name hello-app -p 8080:8080 hello-world-app
